.card {
  background: #ffffff;
  .card-box {
    height: 50px;
    font-size: 14px;
    .card-title {
      font-weight: bold;
      display: inline-block;
      line-height: 50px;
      padding-left: 15px;
    }
  }
}

.card-panel-duibi-title {
  height: 50px;
  padding-left: 15%;

  span {
    display: inline-block;
    margin-right: 10px;
  }
  .span1 {
    font-size: 12px;
    line-height: 16px;
  }
  .span2 {
    color: #6BC967;
    font-size: 30px;
    line-height: 45px;
  }
  .span3 {
    vertical-align: middle;
  }
}

.panel-group-card {
  background: #fff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
  box-sizing: border-box;
  .card-panel-col {
    height: 100%;
    box-sizing: border-box;
  }
  .card-panel {
    box-sizing: border-box;
    height: 175px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shoppingCard {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      // margin: 14px 0 0 14px;
      width: 10%;
      box-sizing: border-box;
      //padding: 0 30px;
      transition: all 0.38s ease-out;
      line-height: 125px;
      text-align: center;
      //border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      position: relative;
      box-sizing: border-box;
      float: left;
      width: 90%;
      font-weight: bold;
      padding: 5px 20px;
      margin-top: 42px;
      span {
        width: 160px;
        position: absolute;
        right: -158px;
        top: -4px;
      }
      .tip3 {
        position: absolute;
        top: -24px;
        //right: -287px;
        img {
          width: 12px;
          height: 20px;
        }
      }
      .woman, .man {
        height: 10px;
        position: relative;
      }
      .manHei, .womanHei {
        background: #FFB823;
      }
      .womanDi, .manDi {
        background: #6BC967;
        margin-bottom: 10px;

      }

    }
    /*  .card-panel-sm{
        float: left;
        width: 20%;
      }*/
  }
}

.bot-right {
  float: right;
  margin-right: 20px;
  line-height: 50px;
}

.bot-right:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/******************************************************/
.box-card {
  width: 100%;
  height: 300px;
  text-align: center;
  .clearfix {
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }
}

.box-card-huanb {
  width: 100%;
  height: 300px;
  text-align: center;
  .clearfix {
    padding: 12px 0;
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
    .span-item {
      display: inline-block;
      // margin-right: 10px;
      width: 30%;
      .span1 {

      }
    }

    img {
      vertical-align: middle;
      display: inline-block;
      margin-top: 4px;
    }
  }
  .tip {
    text-align: left;
    padding: 10px 9%;
    font-size: 14px;
  }
}

.box-card-huanb2 {
  width: 100%;
  text-align: left;
  .clearfix {
    padding: 0 0;
    text-align: center;
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .text {
    font-size: 14px;
    padding: 0 0;
  }

  .item {
    margin-bottom: 18px;
    .row {
      padding: 10px 0;
    }

    img {
      vertical-align: middle;
      display: inline-block;
      margin-top: -4px;
      width: 12px;
      height: 20px;
    }
  }
}

.imgStyI {
  width: 12px;
  height: 20px;
  margin-left: 5px;
}

